<marquee>
  <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, mollitia?</h4>
</marquee>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptas fugiat. Non, placeat necessitatibus rem
  iure pariatur voluptas accusantium animi quia, doloremque eum enim unde ad excepturi saepe debitis. Sint.</p>
<marquee>
  <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, mollitia?</h4>
</marquee>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptas fugiat. Non, placeat necessitatibus rem
  iure pariatur voluptas accusantium animi quia, doloremque eum enim unde ad excepturi saepe debitis. Sint.</p>
<marquee>
  <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, mollitia?</h4>
</marquee>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptas fugiat. Non, placeat necessitatibus rem
  iure pariatur voluptas accusantium animi quia, doloremque eum enim unde ad excepturi saepe debitis. Sint.</p>